<div layout="column" flex layout-align="center center" layout-padding>
    <h1>Admin Dashboard</h1>
    <div>
	    <form>
	        <label>Invite new teammates:</label>
	       	<md-chips ng-model="newMemberEmails" readonly="false" md-require-match="false" placeholder="Enter emails..."></md-chips>
	      <br>
	      <a ng-click="inviteNewMembers()">
	        <md-button class="md-raised md-primary">
	            Send invites
	        </md-button>
	      </a>
	    </form>
	    <p ng-show="addSuccess">Your invitations are on their way!</p>
    </div>
    <div>
	    <form>
	      <md-input-container>
        	<label>Edit teammates' privileges:</label>
	        <md-select ng-model="selectedMember">
	          <md-option ng-repeat="member in membersArr" ng-value="member">
	            {{member.userName}}
	          </md-option>
	        </md-select>
      	</md-input-container>
	      <br>
	      <a ng-click="makeAdmin()">
	        <md-button class="md-raised md-primary">
	            Make admin
	        </md-button>
	      </a>
	      <a ng-click="removeFromTeam()">
	        <md-button class="md-raised md-warn">
	            Remove from team
	        </md-button>
	      </a>
	      <p ng-show="adminSuccess">User successfully upgraded to Admin.</p>
	      <p ng-show="deleteSuccess">User successfully removed from team.</p>
	    </form>
    </div>
</div>
