<div class="">
	<h1>Create your team</h1>
	<form class="">
		Team Name: <input type="text" placeholder="Enter your team name" ng-model="team.name" /><br />
		Your Email: <input type="text" placeholder="Enter your email" ng-model="" /><br />
		Your Username: <input type="text" placeholder="Create a username" ng-model="" /><br />
		Password: <input type="text" placeholder="Create a password" ng-model="" /><br />
		Invite Teammates: <input type="text" placeholder="Enter your teammates' emails" ng-model="" /><br />
	</form>
	<a ui-sref="" ng-click="">
		<button>
			Go to your team
		</button>
	</a>
	<a ui-sref="" ng-click="">
		<button>
			Configure settings
		</button>
	</a>
</div>