<div class="">
  <h1>Welcome to Lack!</h1>
  <div>
    <form class="">
      Create Username:
      <input type="text" placeholder="Your new username" ng-model="user.name" />
      <br /> Create Password:
      <input type="text" placeholder="Your password" ng-model="user.password" />
      <br /> Verify Password:
      <input type="text" placeholder="Your password" ng-model="user.verifyPassword" />
      <br />
    </form>
    <a ui-sref="" ng-click="">
      <button>
        Join {{ team.name }}
      </button>
    </a>
  </div>
</div>
