<md-toolbar md-whiteframe="4">
  <div class="md-toolbar-tools">
    <a ng-click="goHome()" ng-show="loggedIn">
      <span>Lack</span>
    </a>
    <a ui-sref="landing" ng-show="!loggedIn">
      <span>Lack</span>
    </a>
    <!-- fill up the space between left and right area -->
    <span flex></span>
     <a ui-sref="login" ng-show="!loggedIn">
      <md-button>
        Log in
      </md-button>
    </a>
    <a ui-sref="admin" ng-show="loggedIn">
      <md-button>
        Admin
      </md-button>
    </a>
    <a ui-sref="settings" ng-show="loggedIn">
      <md-button>
        Settings
      </md-button>
    </a>
    <a ng-click="signout()" ng-show="loggedIn">
      <md-button>
        Log out
      </md-button>
    </a>
  </div>
</md-toolbar>
