<div flex="95" layout="column">
  <md-content flex="90" id="out">
    <div>
      <md-card ng-repeat="message in messages">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{ message.sender }}</span>
            <span class="md-subhead">Time</span>
            <span class="md-subhead">{{ message.text }}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </md-content>
  <div flex="10">
    <form name="message" ng-submit="saveMessage(message.text)" autocomplete="off">
      <md-input-container layout="row">
        <div flex="70">
          <label>Enter your message here</label>
          <input name="input" ng-model="message.text">
        </div>
          <md-button flex="5" type="submit" class="md-raised md-primary">
            Send
          </md-button>
        <a ui-sref="closeRoom({teamId: currentTeamId, roomId: roomId})">
          <md-button id="closeroom" flex="15" class="md-raised md-warn" ng-click="closeRoom()">
            Close Room
          </md-button>
        </a>
        </input>
      </md-input-container>
    </form>
  </div>
</div>
