<div flex="80" layout="column">
  <md-content flex="90" id="out">
    <div>
      <md-card ng-repeat="message in messages">
        <md-card-header id="cardheader">
          <md-card-avatar>
            <img class="md-user-avatar" src="{{ message.photo }}" alt="">
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-headline">{{ message.sender }}</span>
          </md-card-header-text>
          <md-subhead>
            <span class="md-subhead">{{ currentDate | date:'hh:mm a' }}</span>
          </md-subhead>
        </md-card-header>
        <md-card-content id="cardcontent">
          <h3>{{ message.text }}</h3>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
  <div flex="10">
    <form name="message" ng-submit="saveMessage(message.text)" autocomplete="off">
      <md-input-container layout="row">
        <div flex="70">
          <label>Enter your message here</label>
          <input name="input" ng-model="message.text">
        </div>
        <md-button flex="5" type="submit" class="md-raised md-primary">
          Send
        </md-button>
        <a ui-sref="closeRoom({teamId: currentTeamId, roomId: roomId})">
          <md-button id="closeroom" flex="15" class="md-raised md-warn" ng-click="closeRoom()">
            Close Room
          </md-button>
        </a>
        </input>
      </md-input-container>
    </form>
  </div>
</div>
