<div layout="column" flex layout-align="center center" layout-padding>
  <h1 class="centeredTitle">Settings Dashboard</h1 id="addTopMargin">
  <div layout-xs="column" layout-sm="column" layout="row" flex layout-padding layout-margin>
    <div layout-padding>
      <h2>My buzzwords</h2>
      <h3>Receive notifications for messages that contain your buzzwords</h3>
      <form>
          <label>Add or remove buzzwords</label>
          <md-chips ng-model="buzzwords" readonly="false" md-require-match="false"></md-chips>
        <br>
        <a ng-click="submitBuzzwords()">
          <md-button class="md-raised md-primary">
              Update your buzzwords
          </md-button>
        </a>
      </form>
    </div>
    <div layout-padding>
      <h2>My VIPs</h2>
      <h3>Receive notifications for messages from your VIPs</h3>
      <form>
          <label>Add or remove VIPs</label>

          <md-chips ng-model="vips" md-autocomplete-snap>

            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Your VIPs">
              <md-item-template>
                <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
            </md-autocomplete>

            <md-chip-template>
              <span>
                <strong>{{$chip.display}}</strong>
              </span>
            </md-chip-template>

          </md-chips>
        <br>
        <a ng-click="submitVIPs()">
          <md-button class="md-raised md-primary">
              Update your VIPs
          </md-button>
        </a>
      </form>
    </div>
  </div>
</div>
