<md-sidenav flex="20" id="sidebar" class="md-sidenav-left" md-component-id="left" md-is-locked-open="true">
  <md-toolbar class="md-accent" md-whiteframe="4">
    <h1 class="md-toolbar-tools">My rooms</h1>
  </md-toolbar>
  <md-content layout-padding>
    <div ng-repeat="room in rooms">
      <a ui-sref="home.room({roomId: room.$id})">
        <md-button>
          {{ room.roomName }}
        </md-button>
      </a>
    </div>
    <a ui-sref="createRoom({teamId: teamId})">
      <md-button class="md-raised md-accent">
        New room
      </md-button>
    </a>
  </md-content>
</md-sidenav>
