<div class="">
	<div class="">
		<form class="">
			<h3>Add New Members</h3> 
			<textarea placeholder="Enter emails here" ng-model="" ></textarea><br/>
		</form>
		<a ui-sref="" ng-click="">
			<button>
				Invite members
			</button>
		</a>
	</div>


	<div class="">
		<form class="">
			<h3>Edit Current Members</h3> 
			<input class="" placeholder="search" /><br/>
			<ul class="">
				<li ng-repeat="member in members">
					<a>{{ member.name }}</a>
				</li>
			</ul>
			<a ui-sref="" ng-click="">
				<button>
					Make admin
				</button>
			</a>
			<a ui-sref="" ng-click="">
				<button>
					Remove from team
				</button>
			</a>
		</form>
	</div>
</div>