html {
  font-family: 'Raleway', sans-serif;
}

#hero {
  font-size: 100px;
  margin-bottom: 0px;
}

#offset {
  margin-bottom: 20px;
}

.ng-scope {
  height: 100%;
}

.fullheight {
  height: 100vh;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#sidebar {
  height: 100%;
  max-width: 100%;
}

.centeredTitle {
  text-align: center;
}

form {
  width: 400px;
}
